*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 100vh;
  width: 100%;
  background-color: rgba(21, 21, 230, 0.703);
  color: white;
}
.card-contact{
  box-shadow: rgba(234, 216, 216, 0.975) 0px 3px 8px;
}
input{
  border: none;
  outline: none;
  padding: 5px;
  width: 600px;
}
textarea{
  border: none;
  outline: none;
  padding: 5px;
  width: 600px;

}
#imp{
  width: 240px !important;
}
.cont-form{
  height: 80vh;

}